<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item *ngFor="let entry of entries"
         [routerLink]="entry.path"
         routerLinkActive #rla="routerLinkActive"
         [class.nav-selected]="rla.isActive"
         (click)="sidenav.toggle()">
        {{entry.title}}
      </a>
    </mat-nav-list>       
  </mat-sidenav>    
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <button *ngIf="!isCart()" mat-icon-button disableRipple (click)="sidenav.toggle()">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: white" width="24" height="24" viewBox="0 0 24 24">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </button>
        <button *ngIf="isCart()" mat-icon-button disableRipple (click)="back()">
            <svg xmlns="http://www.w3.org/2000/svg" style="fill: white" width="24" height="24" viewBox="0 0 24 24">
              <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
            </svg>
        </button>
        <span class="spacer"></span>
        <a class="header" routerLink="/">SHOP!</a>
        <span class="spacer"></span>
        <app-cart-icon></app-cart-icon>
    </mat-toolbar>
    <div style="opacity: 0; height: 64px"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
