<h2 class="header">Your Cart</h2>
<div *ngIf="count == 1" class="header sub">(1 item)</div>
<div *ngIf="count > 1" class="header sub">({{count}} items)</div>
<div *ngIf="count == 0" class="header sub">(Your cart is empty)</div>

<div class="header">
  <div *ngFor="let entry of entries" class="row">
    <img class="row-item" [src]="entry.item.image">
    <div class="row-item title">{{entry.item.title}}</div>
    <div class="row-item sub">Qty: {{entry.count}}</div>
    <div class="row-item sub price">${{(entry.count * entry.item.price).toFixed(2)}}</div>
    <a class="delete" (click)="delete(entry)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
        </svg>
    </a>
  </div>
</div>
<div *ngIf="count > 0" class="total">Total: ${{getTotal()}}</div>