.navlink {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header {
  margin: 0 auto;
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.nav-selected {
  font-weight: bold;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  min-height: 1000px;
}

mat-toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
}
